name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Emscripten
      run: |
        git clone https://github.com/emscripten-core/emsdk.git
        cd emsdk
        ./emsdk install latest
        ./emsdk activate latest
        echo "source $(pwd)/emsdk_env.sh" >> $GITHUB_ENV

    - name: Source Emscripten environment
      run: source $GITHUB_ENV

    - name: Verify Emscripten installation
      run: emcc --version